<%- partial('_partial/head') %>
<body style="
<% if (theme.background.image) { %>
  background: url(<%= theme.background.image %>) center center no-repeat;
  background-size: contain;
<% } %>
<% if (theme.background.color) { %>
  background-color: <%= theme.background.color %>
<% } %>
">
  <div class="page-banner">
      <!-- <div class="page-banner_header"></div> -->
      <div class="page-banner_appDownload"></div>
  </div>
  <div id="container">
    <%- partial('_partial/nav') %>
    <div class="app-download-banner">
        <div>
            <div class="phone"></div>
        </div>
        <div class="intro-block">
            <div class="app-name">次元岛</div>
            <div class="app-dec">文创加密收藏</div>
            <div class="app-dec2">二次元数字藏品奇妙之旅</div>
            <div class="app-download-link">
                <div class="app-download-link-block">
                    <div class="app-download-link_item"></div>
                    <div class="download-dec">android扫码下载</div>
                </div>
                <div class="app-download-link-block">
                    <div class="app-download-link_item"></div>
                    <div class="download-dec">ios扫码下载</div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="main"><%- body %></div>
    <%- partial('_partial/footer') %>
  </div>
</body>
</html>